@model Product 


    <h3>@Model.ProductName</h3>
    <p>@Model.Price</p>
    <hr>

    <div class="btn-group">
        <a class="btn btn-info" asp-controller="Home" asp-action="Index">
            <i class="fa-solid fa-house"></i> Home
        </a>
        <a class="btn btn-outline-info" asp-controller="Product" asp-action="Index">
            <i class="fa-solid fa-list"></i> Products
        </a>
    </div>
@section Title{
    Product Details
}
