@model IEnumerable<Ogrenci>
<h2>Öğrenci Listesi</h2>
<table class="table">
    <thead>
        <tr>
            <th>Öğrenci Adı</th>
            <th>Öğrenci Soyadı</th>
            <th>Öğrenci Eposta</th>
            <th>Öğrenci Telefon</th>
            <th>Detay</th>
            <th>Sil</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach(var ogrenci in Model)
        {
            <tr>
                <td>@ogrenci.OgrenciAd</td>
                <td>@ogrenci.OgrenciSoyad</td>
                <td>@ogrenci.Eposta</td>
                <td>@ogrenci.Telefon</td>
                <td>
                    <a href="#" class="btn btn-success">Detaylar</a>
                </td>
                <td>
                    <a href="#" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>